<div class="container">
  <img src="http://www.britishgas.co.uk/content/dam/british-gas/beta/images/bg-logo-mobile.svg" />
</div>
<hr />
{{dummy-component}}

<hr />
<div class="text-center">
  <a class="btn btn-default" href="https://github.com/britishgas-engineering/bg-button-group">back to github</a>
</div>
